{% extends "layout.html" %}

{% block content %}

<div class="max-w-3xl mx-auto">

    <!-- HEADER -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">
            Create Game
        </h1>

        <a href="logout" class="chip-button">
            Logout
        </a>
    </div>

    <!-- LIST OF PLAYERS -->
    <template id="playerOptionsTemplate">
        <option value=""></option>

        {% for player in players %}

        <option value="{{ player.id }}">
            {{ player.name }}
        </option>

        {% endfor %}
    </template>

    <div class="table-card">
        <form method="post" action="/admin/game">
            <!-- DATE -->
            <label class="block mb-2">Game Date</label>
            <input name="date" type="date" class="bg-gray-600 p-3 rounded mb-6 w-60" required />

            <div class="flex gap-4">
                <div class="flex flex-col">
                    <label class="text-sm font-medium mb-2">Buy-in ($)</label>
                    <input name="buyin_value" type="number" value="30" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20"
                        required />
                </div>
                <div class="flex flex-col">
                    <label class="text-sm font-medium mb-2">Re-buy ($)</label>
                    <input name="rebuy_value" type="number" value="25" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20"
                        required />
                </div>
                <div class="flex flex-col">
                    <label class="text-sm font-medium mb-2">Add-on ($)</label>
                    <input name="addon_value" type="number" value="25" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20"
                        required />
                </div>
            </div>

            <!-- PLAYERS TABLE -->
            <div class="overflow-x-auto">
                <table class="mx-auto text-center">
                    <thead>
                        <tr class="text-sm">
                            <th class="px-3 py-2">Position</th>
                            <th class="px-3 py-2">Name</th>
                            <th class="px-3 py-2">Re-buys</th>
                            <th class="px-3 py-2">Add-ons</th>
                            <th class="px-3 py-2">Winnings ($)</th>
                        </tr>
                    </thead>

                    <tbody id="playersTable">
                    </tbody>
                </table>
            </div>

            <!-- BUTTONS -->
            <div class="flex justify-end gap-4 mt-6">
                <button type="button" onclick="addPlayerRow()" class="chip-button">
                    Add Player
                </button>

                <button id="removeButton" type="button" onclick="removeLastRow()" class="chip-button">
                    Remove Last
                </button>
            </div>

            <!-- SAVE -->
            <div class="flex justify-center mt-8">
                <button class="chip-button text-lg px-8">
                    Save Game
                </button>
            </div>
        </form>
    </div>

</div>

<script src="/static/js/admin.js"></script>

{% endblock %}