{% extends "layout.html" %}

{% block content %}

<div class="table-card">

<h1 class="text-3xl font-bold mb-6">Admin Panel</h1>

<a href="/logout" class="chip-button mb-6 inline-block">
Logout
</a>

<h2 class="text-xl font-bold mb-4">Create Game</h2>

<form method="post" action="/admin/game">

<label>Date</label>
<input name="date" type="date" class="bg-gray-600 p-3 rounded mb-6 mr-6" required>

<label>Buy-in ($)</label>
<input name="buyin_value" type="number" value="30" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20" required>

<label>Re-buy ($)</label>
<input name="rebuy_value" type="number" value="25" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20" required>

<label>Add-on ($)</label>
<input name="addon_value" type="number" value="25" class="bg-gray-600 p-3 rounded mb-6 mr-6 w-20" required>

<h3 class="font-bold mb-2">Players</h3>

<table class="w-full mb-6">

<thead>
<tr>
<th>Position</th>
<th>Name</th>
<th>Re-buys</th>
<th>Add-on?</th>
<th>Winnigs</th>
</tr>
</thead>

<tbody id="playersTable">

<tr>

<td>
<input name="position" type="number" class="bg-gray-600 p-3 rounded w-20" required>
</td>
<td>
<input name="player_name" class="bg-gray-600 p-3 w-100 rounded" required>
</td>
<td>
<input name="rebuys" type="number" value="0" class="bg-gray-600 p-3 rounded w-20" required>
</td>
<td>
<input name="addons" type="number" value="0" class="bg-gray-600 p-3 rounded w-20" required>
</td>
<td>
<input name="winnings" type="number" value="0" class="bg-gray-600 p-3 rounded w-20" required>
</td>

</tr>

</tbody>

</table>

<button type="button"
onclick="addPlayerRow()"
class="chip-button mb-6">

Add Player

</button>

<br>

<button class="chip-button">
Save Game
</button>

</form>

</div>

<script src="/static/js/admin.js"></script>

{% endblock %}