<!DOCTYPE html>
<html>
<head>
    <title>Poker Club</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-gray-200">

<nav class="bg-black bg-opacity-70 p-4 shadow-lg">
    <div class="max-w-6xl mx-auto flex justify-between">

        <div class="font-bold text-xl">
            <a class="nav-link" href="/">♠ Poker Club</a>
        </div>

        <div>
            <a class="nav-link" href="/timer">Timer</a>
            <a class="nav-link" href="/stats">Stats</a>
            <a class="nav-link" href="/admin">Admin</a>
        </div>

    </div>
</nav>

<div class="max-w-6xl mx-auto mt-10">

{% block content %}

{% endblock %}

</div>

</body>
</html>