<!DOCTYPE html>
<html>
<head>
    <title>Poker Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-gray-200">

<nav class="bg-black bg-opacity-70 p-4 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center h-14">
            <div class="font-bold text-xl">
                <a class="nav-link" href="/">♠ Poker Club</a>
            </div>

            <!-- Desktop menu -->
            <div class="hidden md:flex space-x-6">
                <a href="/timer" class="hover:text-white">Timer</a>
                <a href="/stats" class="hover:text-white">Stats</a>
                <a href="/admin" class="hover:text-white">Admin</a>
            </div>

            <!-- Mobile button -->
            <button
                onclick="toggleMenu()"
                class="md:hidden text-xl">
            ☰
            </button>
        </div>

        <!-- Mobile menu -->
        <div id="mobileMenu" class="hidden flex-col pb-4 space-y-2 md:hidden">
            <a href="/timer" class="block">Timer</a>
            <a href="/stats" class="block">Stats</a>
            <a href="/admin" class="block">Admin</a>
        </div>

    </div>
</nav>

<!-- PAGE CONTENT -->
<div class="max-w-6xl mx-auto p-4 md:p-6">
{% block content %}

{% endblock %}
</div>

<script>
function toggleMenu(){
    let menu=document.getElementById("mobileMenu")
    menu.classList.toggle("hidden")
}
</script>

</body>
</html>